.student-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.student-form div {
  margin-bottom: 15px;
}

.student-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.student-form input,
.student-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  color: #333;
}

.student-form input[type="text"],
.student-form input[type="email"],
.student-form input[type="password"],
.student-form input[type="date"],
.student-form select {
  width: 100%;
}

.student-form .form-buttons {
  display: flex;
  justify-content: space-between;
}

.student-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  color: white;
  background-color: #009879;
}

.student-form .cancel-button {
  background-color: #f44336;
}

.student-form button:hover {
  opacity: 0.9;
}
