.student-dashboard {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .student-sidebar {
    width: 20%;
    background-color: #0D7C66; /* Different color for student sidebar */
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .student-sidebar h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .student-sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
  }
  
  .student-sidebar ul li {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .student-sidebar ul li .icon {
    margin-right: 10px;
    color: #bbdefb;
  }
  
  .student-sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .student-sidebar ul li a:hover {
    color: #e3f2fd;
  }
  
  .main-content {
    flex: 1;
    padding: 0;
  }
  
  .student-header {
    width: 100%;
    height: 10vh;
    background-color: #41B3A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .student-info {
    display: flex;
    flex-direction: column;
  }
  .student-info span{
    color: #f0f0f0;
  }
  .student-content {
    padding: 20px;
    height: calc(90vh - 20px);
    overflow-y: auto;
  }
  